<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentData">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td><span (click)="deleteStudent(student.id)">Delete</span></td>
        </tr>
       
        <!-- Thêm dòng cho mỗi thông tin cần quản lý -->
    </tbody>
</table>
